.grouplist-container {
  width: 100%;
  display: flex;
  gap: 1em;
}
.grouplist-container .column1 {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grouplist-container .column2 {
  width: 280px;
}
.grouplist-container .column2 .groupList-block::-webkit-scrollbar {
  display: none;
}
.grouplist-container .column2 .groupList-block {
  height: 100%;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.grouplist-container .column2 .groupList-block .card {
  margin-bottom: 10px;
  z-index: 0;
}
.grouplist-container .column2 .groupList-block .card .card-content {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #ddd;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.grouplist-container .column2 .groupList-block .card .card-content .name {
  position: relative;
  display: block;
  z-index: 10;
}
.grouplist-container .column2 .groupList-block .card .card-content .dropdown {
  position: absolute;
  width: 25px;
  margin: 7px;
  top: 0px;
  right: 0px;
  opacity: 50%;
  display: flex;
  justify-content: center;
}
.grouplist-container .column2 .groupList-block .card .card-content .dropdown .icon {
  transform: rotateZ(90deg);
}
.grouplist-container .column2 .groupList-block .card .card-content .dropdown:hover .icon {
  transition: all 0.5s ease;
  transform: rotateZ(0deg);
}
.grouplist-container .column2 .groupList-block .card .card-content .delete-button {
  transition: all 0.5s ease;
  display: none;
  position: absolute;
  bottom: -150%;
  padding: 5px;
  z-index: 10;
  cursor: pointer;
}
.grouplist-container .column2 .groupList-block .card .card-content .dropdown:hover .delete-button {
  display: block;
}
.grouplist-container .column2 .groupList-block .card .card-content .liner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.grouplist-container .column2 .groupList-block .card .card-content .liner:after {
  content: "Marker";
  font-size: 0;
  position: absolute;
  top: -15%;
  left: -60%;
  width: 40%;
  height: 150%;
  background: linear-gradient(40deg, #0c8599, #15aabf);
  opacity: 80%;
  transform: rotate(-6deg);
  z-index: 9;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.grouplist-container .column2 .groupList-block .card .card-content .liner.init:after {
  left: -10%;
}
.grouplist-container .column2 .groupList-block .card:hover .controller {
  margin-top: -5px;
}
.grouplist-container .column2 .groupList-block .card .controller {
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin: auto;
  height: 30px;
  margin-top: -30px;
  background-color: #ddd;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.grouplist-container .column2 .groupList-block .card .controller img {
  width: 1.5em;
  height: 1.5em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-left: 5px;
}
@media (max-width: 600px) {
  .grouplist-container {
    flex-direction: column; /* Switch to a column flexbox */
  }
  .grouplist-container .column1,
  .grouplist-container .column2 {
    width: 100%; /* Both columns take up 100% width */
  }
  .grouplist-container .column1 .groupList-block,
  .grouplist-container .column2 .groupList-block {
    max-height: 350px;
  }
}

.profile-block {
  grid-column: 1;
  width: 100%;
  max-width: 450px;
  height: 300px;
  text-align: center;
  background: #fff;
  color: #333;
  border-radius: 1em;
  border: 1px solid rgba(104, 95, 95, 0.4862745098);
  overflow: hidden;
  margin-bottom: 2em;
}
.profile-block .backgroundCover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: linear-gradient(40deg, #22b8cf, #15aabf);
}
.profile-block .backgroundCover label {
  cursor: pointer;
}
.profile-block .backgroundCover img {
  width: 7em;
  height: 7em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.6em 1.8em;
}
.profile-block .profile-content {
  margin-top: 30px;
  padding: 10px;
}
.profile-block .profile-content .name {
  display: block;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}/*# sourceMappingURL=GroupPage.css.map */