.postlist-block {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  overflow: hidden scroll;
  padding: 5px;
}
.postlist-block .postlist-header {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: white;
}
.postlist-block .postlist-header .postlist-status {
  display: flex;
  background-color: #f1f3f5;
}
.postlist-block .postlist-header .postlist-status a {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.postlist-block .postlist-header .postlist-status a img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.postlist-block .postlist-header .postlist-status a.active {
  font-weight: 600;
  background-color: white;
}
.postlist-block .postlist-header .postlist-options {
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.postlist-block .postlist-header .postlist-options .sort-by {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.postlist-block .postlist-header .postlist-options .sort-by p {
  margin: 0;
}
.postlist-block .postlist-header .postlist-options .sort-by .sort-state {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
}
.postlist-block .postlist-header .postlist-options .sort-by a {
  padding: 5px;
  cursor: pointer;
}
.postlist-block .postlist-header .postlist-options .create-button {
  border: 1px solid black;
  padding: 5px 18px;
  border-radius: 7px;
  margin-right: 5px;
  cursor: pointer;
}
.postlist-block .post-list-item {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.postlist-block .post-list-item.on .post-body {
  height: auto !important;
  -webkit-line-clamp: unset !important;
}
.postlist-block .post-block {
  background-color: white;
  width: 100%;
  padding-bottom: 5px;
  margin-bottom: 0.25rem;
  display: flex;
  position: relative;
  z-index: 0;
}
.postlist-block .post-block .liner {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% + 5px);
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.postlist-block .post-block .liner:after {
  content: "Marker";
  font-size: 0;
  position: absolute;
  width: 10px;
  height: 80%;
  left: 0;
  top: -80%;
  border-radius: 5px;
  background-color: rgb(0, 195, 255);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.postlist-block .post-block .liner.init:after {
  top: 50%;
  transform: translateY(-50%);
}
.postlist-block .post-block .post-deadline {
  flex: 0 0 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.postlist-block .post-block .post-content {
  flex-grow: 1;
  padding: 10px 0;
  overflow: hidden;
  height: auto;
}
.postlist-block .post-block .post-content h3 {
  margin: 0;
}
.postlist-block .post-block .post-content .post-body {
  min-height: 3em;
  margin: 0;
  padding-top: 5px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  word-wrap: break-word;
}
.postlist-block .post-block .post-owner {
  flex: 0 0 45px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.postlist-block .post-block .post-owner svg {
  cursor: pointer;
  z-index: 10;
  height: 1.5em;
}
.postlist-block .post-block .post-owner img {
  width: 2em;
  height: 2em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.postlist-block .post-block:first-child {
  margin-top: 0.25rem;
}
.postlist-block .post-block + .postlist-block .post-block {
  border-top: 1px solid #ccc;
}
.postlist-block .post-block h2 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}
.postlist-block .post-block p {
  margin-top: 2rem;
}/*# sourceMappingURL=PostList.css.map */