.chat-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px;
  border-radius: 10px;
}
.chat-block .messages-block {
  background-color: #8cdbe5;
  padding: 10px;
  border: 1px solid black;
  overflow-y: scroll;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chat-block .messages-block::-webkit-scrollbar {
  display: none;
}
.chat-block .messages-block .message-block {
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}
.chat-block .messages-block .message-block .message-profile {
  width: 2em;
  height: 2em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.chat-block .messages-block .message-block .message-info {
  display: flex;
  flex-direction: column-reverse;
  color: gray;
  font-weight: 300;
}
.chat-block .messages-block .message-block .message-content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.chat-block .messages-block .message-block .message-content .message-username {
  text-align: right;
  font-size: 0.75rem;
}
.chat-block .messages-block .message-block .message-content p {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: -moz-max-content;
  max-width: max-content;
}
.chat-block .messages-block .message-block.owner {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.chat-block .messages-block .message-block.owner p {
  border-radius: 10px 0px 10px 10px;
}
.chat-block .textarea-block {
  border: 1px solid black;
  width: 100%;
  height: 15%;
  display: flex;
}
.chat-block .textarea-block .textarea-section {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-block .textarea-block .textarea-section .textarea-container {
  border: solid 1px #000;
  border-radius: 12px;
  padding: 10px 6px;
  font-size: 1rem;
  min-height: 44px;
  max-height: 5em;
  width: 380px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: start;
}
.chat-block .textarea-block .textarea-section .textarea-container::-webkit-scrollbar {
  display: none;
}
.chat-block .textarea-block .textarea-section .textarea-container:hover {
  cursor: text;
}
.chat-block .textarea-block .textarea-section .textarea-container div {
  outline: none;
  display: inline;
}
.chat-block .textarea-block .textarea-section .textarea-container .title,
.chat-block .textarea-block .textarea-section .textarea-container .body,
.chat-block .textarea-block .textarea-section .textarea-container .deadline {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 4px;
  margin-left: 4px;
}
.chat-block .textarea-block .send-container {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-block .textarea-block .send-container .send-button {
  border: 1px solid black;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}/*# sourceMappingURL=Chat.css.map */