.main-grid-container {
    height: calc(100vh - 5rem);
    width: 100%;
    padding-top: 40px;
    display: flex;

    // display: grid;
    // grid-template-columns: 25% 40% 35%;
}

.grid {
    // border: 1px solid gray;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.profile-container {
    width:250px;
    // grid-column: 1;
}

.chat-container {
    grid-column: 2;
    height: 100%;
}

.posts-container {
    grid-column: 3;
}
